nz-content {
  display: flex;
  width: 1450px;
  height: 700px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px #fff0f6 solid;
  border-radius: 10px;
}

.title {
  z-index: 1;
  width: 40%;
  padding: 50px;
  background-image: url("../../../../assets/img/background-photo-account.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .sub__title {
    color: #fff;
    font-size: 35px;
    font-family:'Spartan', sans-serif;
    text-transform: uppercase;
  }
}

lca-account-setting {
  form {
    height: 100%;
  }

  width: 60%;
  padding: 20px;

}
