<nz-modal nzCentered="true" nzWidth="600" nzTitle="User Details" nzCancelText="Close" nzOkDisabled="true">
  <ng-container *nzModalContent>
    <nz-table [nzData]="data" nzBordered nzTableLayout="fixed">
      <thead>
        <tr>
          <th *ngFor="let column of listOfModalColumn">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let td of data">
          <td>{{ td.roles }}</td>
          <td>{{ td.usrType }}</td>
          <td>{{ td.usrPhone2 }}</td>
          <td>{{ td.usrStatus }}</td>
          <td>{{ td.usrCreatedttm }}</td>
          <td>{{ td.usrCreatedby }}</td>
          <td>{{ td.usrOrganization }}</td>
        </tr>
        <tr *ngFor="let td of data">
          <td>{{ td.usrTraining }}</td>
          <td>{{ td.usrTrainingValid }}</td>
          <td>{{ td.usrGdpr }}</td>
          <td>{{ td.lastLogin }}</td>
          <td>{{ td.usrGuid }}</td>
          <td>{{ td.usrActive }}</td>
          <td>{{ td.usrApproved }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
