<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <span class="title">Environment Documentation Portal</span>
      </div>
      <div class="desc"><img width="120" src="./assets/img/lca-logo.png" /></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      Copyright
      <i nz-icon nzType="copyright"></i> 2021 LCA.no AS
    </global-footer>
  </div>
</div>
<!-- <theme-btn></theme-btn> -->
