<nz-page-header
    class="site-page-header"
    nzTitle="{{ 'app.app_name' | translate }} - {{ 'app.change_password' | translate }}"
>
</nz-page-header>

<nz-row>
    <nz-col [nzSpan]="12">
        <nz-card>
            <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
                <nz-form-item>
                    <nz-form-label nzFor="currentPassword" nzRequired>Current password</nz-form-label>
                    <nz-form-control [nzErrorTip]="'app.reset_password.please_input_password' | translate">
                        <input
                            nz-input
                            formControlName="currentPassword"
                            name="currentPassword"
                            id="currentPassword"
                            type="password"
                            required
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>{{ 'app.reset_password.new_password' | translate }}</nz-form-label>
                    <nz-form-control [nzErrorTip]="'app.reset_password.please_input_new_password' | translate">
                        <input
                            nz-input
                            formControlName="newPassword"
                            name="newPassword"
                            id="newPassword"
                            type="password"
                            (ngModelChange)="validateConfirmPassword()"
                            required
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="confirm_new_password">{{
                        'app.reset_password.confirm_new_password' | translate
                    }}</nz-form-label>
                    <nz-form-control [nzErrorTip]="passwordErrorTpl">
                        <input
                            nz-input
                            formControlName="confirmNewPassword"
                            name="confirmNewPassword"
                            id="confirmNewPassword"
                            type="password"
                            required
                        />
                        <ng-template #passwordErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')"
                                >{{ 'app.reset_password.please_input_confirm_new_password' | translate }}
                            </ng-container>
                            <ng-container *ngIf="control.hasError('confirm')">{{
                                'app.reset_password.password_is_inconsistent' | translate
                            }}</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-row [nzJustify]="'end'">
                    <button nz-button [nzLoading]="updatingPassword" (click)="changePassword()" [nzType]="'primary'">
                        {{ 'common.button.update' | translate }}
                    </button>
                </nz-row>
            </form>
        </nz-card>
    </nz-col>
</nz-row>
