<nz-page-header class="site-page-header" nzTitle="Environmental Documentation Portal - Change password">
</nz-page-header>

<nz-row>
    <nz-col [nzSpan]="12">
        <nz-card>
            <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
                <nz-form-item>
                    <nz-form-label nzFor="currentPassword" nzRequired>Current password</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your current password!">
                        <input
                            nz-input
                            formControlName="currentPassword"
                            name="currentPassword"
                            id="currentPassword"
                            type="password"
                            required
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>New password</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your new password!">
                        <input
                            nz-input
                            formControlName="newPassword"
                            name="newPassword"
                            id="newPassword"
                            type="password"
                            (ngModelChange)="validateConfirmPassword()"
                            required
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="confirm_new_password">Confirm new password</nz-form-label>
                    <nz-form-control [nzErrorTip]="passwordErrorTpl">
                        <input
                            nz-input
                            formControlName="confirmNewPassword"
                            name="confirmNewPassword"
                            id="confirmNewPassword"
                            type="password"
                            required
                        />
                        <ng-template #passwordErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')"
                                >Please confirm your new password!</ng-container
                            >
                            <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-row [nzJustify]="'end'">
                    <button nz-button [nzLoading]="updatingPassword" (click)="changePassword()" [nzType]="'primary'">
                        {{ 'user.label.update_password' | translate }}
                    </button>
                </nz-row>
            </form>
        </nz-card>
    </nz-col>
</nz-row>
