<form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrFullname" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row nzGutter="24">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>Address</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrAdd" placeholder="Address" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row nzGutter="24">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Zip</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrZip" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>City</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrCity" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row nzGutter="24">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrEmail" placeholder="Email" type="email" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row nzGutter="24">
    <nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>Phone</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrPhone1" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row nzGutter="24">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>User Name</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrLoginname" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Password</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="usrPassword" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row class="button" nzJustify="end" nzGutter="24">
    <nz-form-item>
      <nz-form-control [nzOffset]="5">
        <button nz-button nzType="primary">Cancel</button>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="5">
        <button nz-button nzType="primary" (click)="submitForm()">Update</button>
      </nz-form-control>
    </nz-form-item>
  </nz-row>
</form>
