<nz-page-header class="site-page-header" nzTitle="Companies"> </nz-page-header>

<nz-radio-group [(ngModel)]="comswValue" (ngModelChange)="onChangeComSW($event)">
  <label nz-radio nzValue="1">eEPD</label>
  <label nz-radio nzValue="2">eKVAM</label>
  <label nz-radio nzValue="3">eCAL</label>
  <label nz-radio nzValue="4">eTRANS</label>
  <label nz-radio nzValue="5">eFOODWASTE</label>
  <label nz-radio nzValue="6">ePACK</label>
  <label nz-radio nzValue="7">eCO2</label>
  <label nz-radio nzValue="8">eProject</label>
  <label nz-radio nzValue="13">EPD2Digi</label>
</nz-radio-group>

<div class="alain-default__content-title">
  <input nz-input placeholder="Enter text to search..." (keyup.enter)="onEnterSearch()" [(ngModel)]="searchValue" />
</div>

<nz-table
  #23
  nzShowSizeChanger
  [nzData]="clients"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" nzColumnKey="{{ column.columnKey }}" [nzSortFn]="true" nzWidth="{{ column.width }}">
        {{ column.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of clients">
      <td>{{ o.comId }}</td>
      <td>{{ o.comCompanyvat }}</td>
      <td>{{ o.comCompanyname }}</td>
      <td>{{ o.comEmail }}</td>
      <td>{{ o.comAdd }}</td>
      <td>{{ o.comZip }}</td>
      <td>{{ o.comCity }}</td>
      <td>{{ o.comPhone1 }}</td>
      <td>{{ o.comMainContact }}</td>
      <td>{{ o.comWeb }}</td>
      <td>{{ o.countryName }}</td>
    </tr>
  </tbody>
</nz-table>
