<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18">
    <nz-card nzTitle="Profile" [nzBordered]="false" class="mb-lg">
      <div nz-row nzJustify="space-between" nzGutter="16">
        <div nz-col nzSpan="24">
          <nz-card *ngFor="let dt of data">
            <h2>{{ dt.name }}</h2>
            <ul>
              <li>{{ dt.number }}</li>
              <li>{{ dt.date_created }}</li>
              <li>{{ dt.date_lastupdated }}</li>
              <li>{{ dt.editor }}</li>
              <li>{{ dt.status }}</li>
            </ul>
          </nz-card>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6">
    <nz-card nzTitle="EPD Generator" [nzBordered]="false" class="mb-lg"> </nz-card>
  </div>
</div>
