<nz-page-header class="site-page-header" nzTitle="Environmental Documentation Portal - User List"> </nz-page-header>
<nz-row [nzGutter]="[12, 12]">
    <nz-col [nzSpan]="24">
        <nz-input-group [nzPrefix]="suffixIconSearch" nzSize="large">
            <input
                type="text"
                nz-input
                placeholder="Input search text ..."
                [(ngModel)]="filterModel.filterTerm"
                (change)="onFilter()"
            />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search" nzSize="large"></i>
        </ng-template>
    </nz-col>

    <nz-col [nzSpan]="12">
        <button nz-button nzType="primary" (click)="onOpenAddUser()">
            <i nz-icon nzType="plus"></i>
            Add User
        </button>
    </nz-col>

    <nz-col [nzSpan]="24">
        <lca-user-list
            #userListComp
            [data]="users$ | async"
            [isLoading]="isFiltering"
            (filterParamChanged)="onFilterParamChanged($event)"
            (openUpdateUser)="onOpenUpdateUser($event)"
            (openUserDetail)="onOpenUserDetail($event)"
        >
        </lca-user-list>
    </nz-col>
</nz-row>
<div>
    <span>Input data might be hidden by filer <a [routerLink]="" (click)="clearFilter()">Reset filter</a></span>
</div>
