<nz-table [nzData]="data" nzBordered [nzFrontPagination]="false" [nzLoading]="isLoading"
    [nzPageSizeOptions]="pageSizeOptions" [nzShowSizeChanger]="true" [nzTotal]="totalRecords"
    (nzQueryParams)="onQueryParamChange($event)">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumns" nzColumnKey="{{ column.sortKey }}" [nzFilterFn]="true"
                nzWidth="{{ column.width }}" [nzSortFn]="column.sort" [(nzSortOrder)]="column.sortOrder">
                {{ column.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of data">
            <td>{{ company.comId }}</td>
            <td>{{ company.comCompanyname }}</td>
            <td>{{ company.comType }}</td>
            <td>
                <nz-row [nzGutter]="[6, 6]" [nzAlign]="'middle'">
                    <nz-col>
                        <button nz-button nzSize="small" nzType="default" nzShape="circle">
                            <i nz-icon nzType="delete"></i>
                        </button>
                    </nz-col>
                </nz-row>
            </td>
        </tr>
    </tbody>
</nz-table>
