<form nz-form [formGroup]="formGroup" role="form">
    <nz-alert *ngIf="error" nzType="error" nzMessage="{{ error | translate }}" nzShowIcon></nz-alert>
    <nz-tabset [nzAnimated]="false" class="tabs">
        <nz-tab [nzTitle]="'app.forgot_password' | translate">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter your email">
                    <nz-input-group nzSize="large" nzPrefixIcon="user">
                        <input nz-input formControlName="userEmail" placeholder="Please input your emal" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
    </nz-tabset>
    <nz-form-item>
        <nz-col [nzSpan]="24" class="text-right">
            <a class="forgot" routerLink="/passport/login">{{ 'app.login.goto_login' | translate }}</a>
        </nz-col>
    </nz-form-item>
    <nz-form-item>
        <button
            nz-button
            (click)="sendForgotPasswordRequest()"
            type="submit"
            nzType="primary"
            nzSize="large"
            [nzLoading]="loading"
            nzBlock
        >
            Send
        </button>
    </nz-form-item>
</form>
