<layout-default [options]="options" [content]="contentTpl">
  <!-- <layout-default-header-item direction="left" hidden="mobile">
    <a layout-default-header-item-trigger routerLink="/passport/lock">
      <i nz-icon nzType="lock"></i>
    </a>
  </layout-default-header-item> -->
  <layout-default-header-item direction="left">
    <!-- <div class="alain-default__nav-item d-flex align-items-center px-sm" nz-button>
      <strong>Switch company</strong>
      <i nz-icon nzType="group" class="ml-sm"></i>
    </div> -->

    <nz-select
      nzShowSearch
      nzPlaceHolder="Switch company"
      [(ngModel)]="selectedCompany"
      [compareWith]="compareFn"
      (ngModelChange)="onSwitch($event)"
    >
      <nz-option *ngFor="let company of companies" [nzValue]="company" [nzLabel]="company.compName">
        {{ company.compName }}
      </nz-option>
    </nz-select>
  </layout-default-header-item>

  <layout-default-header-item direction="right">
    <header-user></header-user>
  </layout-default-header-item>
  <!-- <ng-template #asideUserTpl>
    <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="userMenu" class="alain-default__aside-user">
      <nz-avatar class="alain-default__aside-user-avatar" [nzSrc]="user.avatar"></nz-avatar>
      <div class="alain-default__aside-user-info">
        <strong>{{ user.name }}</strong>
        <p class="mb0">{{ user.email }}</p>
      </div>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item routerLink="/pro/account/center">{{ 'menu.account.center' | translate }}</li>
        <li nz-menu-item routerLink="/pro/account/settings">{{ 'menu.account.settings' | translate }}</li>
      </ul>
    </nz-dropdown-menu>
  </ng-template> -->
  <ng-template #contentTpl>
    <router-outlet></router-outlet>
  </ng-template>
  <global-footer>
    Copyright
    <i nz-icon nzType="copyright"></i> 2021 LCA.no AS
  </global-footer>
</layout-default>
