<form nz-form [formGroup]="formGroup" role="form" [nzLayout]="'vertical'">
    <nz-alert *ngIf="error" nzType="error" nzMessage="{{ error | translate }}" nzShowIcon></nz-alert>
    <nz-tabset [nzAnimated]="false" class="tabs">
        <nz-tab [nzTitle]="'app.reset_password' | translate">
            <nz-form-item>
                <nz-form-label nzRequired>{{ 'app.reset_password.new_password' | translate }}</nz-form-label>
                <nz-form-control [nzErrorTip]="'app.reset_password.please_input_new_password' | translate">
                    <input
                        nz-input
                        formControlName="password"
                        name="newPassword"
                        id="newPassword"
                        type="password"
                        (ngModelChange)="validateConfirmPassword()"
                        required
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="confirm_new_password">{{
                    'app.reset_password.confirm_new_password' | translate
                }}</nz-form-label>
                <nz-form-control [nzErrorTip]="passwordErrorTpl">
                    <input
                        nz-input
                        formControlName="confirmPassword"
                        name="confirmPassword"
                        id="confirmNewPassword"
                        type="password"
                        required
                    />
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">{{
                            'reset_password.please_input_confirm_new_password' | translate
                        }}</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">{{
                            'app.reset_password.password_is_inconsistent' | translate
                        }}</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-tab>
    </nz-tabset>
    <nz-form-item>
        <nz-col [nzSpan]="24" class="text-right">
            <a class="forgot" routerLink="/passport/login">{{ 'app.login.goto_login' | translate }}</a>
        </nz-col>
    </nz-form-item>
    <nz-form-item>
        <button
            nz-button
            (click)="sendForgotPasswordRequest()"
            type="submit"
            nzType="primary"
            nzSize="large"
            [nzLoading]="loading"
            nzBlock
        >
            {{ 'common.button.send' | translate }}
        </button>
    </nz-form-item>
</form>
